@use "../../variables" as var;

.link {
  .card {
    border-width: 0;
    transition: box-shadow 150ms ease-out, outline 150ms ease-out;
    outline: 1px solid transparent;
  }

  .unreleased {
    filter: contrast(0.7) brightness(0.8);
  }

  &:hover,
  &:focus {
    .card:not(.unreleased) {
      box-shadow: 0px 5px 10px rgba(var.$black, 0.2);
      outline: 1px solid var.$gray-700;
    }
  }
}
