$primary: #ffd294;
$primaryRgb: 255, 210, 148;

$theme-colors: (
  "primary": $primary,
);

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// This class is used to give navbar links a "minimal button" style.
// But it's overly broad and would need to be changed if we add buttons elsewhere to the website
.btn-text-primary:hover {
  color: $primary;
  background-color: rgba($primary, 0.1);
}

// a {
//   color: #ffd294;
//   transition: color 0.1s ease-out;
// }
// a:hover {
//   color: #e2b679;
// }
