$primaryRgb: 255, 210, 148;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

@import "./variables";
@import "~bootstrap/scss/bootstrap";
@import "./bootswatch";

:root {
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// This class is used to give navbar links a "minimal button" style.
// But it's overly broad and would need to be changed if we add buttons elsewhere to the website
.btn-text-primary:hover {
  color: $primary;
  background-color: rgba($primary, 0.1);
}

nav {
  background-color: $gray-800;
}

// a {
//   color: #ffd294;
//   transition: color 0.1s ease-out;
// }
// a:hover {
//   color: #e2b679;
// }
