.h1 {
  font-size: 5rem;
}

.welcome {
  font-size: 2rem;
  font-weight: bold;
}

.whid {
  position: relative;
  margin: 0.1em;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

  text-decoration: underline solid var(--bs-primary) 0.3em;
  text-underline-offset: -0.125em;
  text-decoration-skip-ink: none;
}
